*{
    padding:0px ;
    margin: 0px;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
    background-color: darkgray;
    
}

.heading{
    color: black;
    font-size: 20px;
}

button{
    background-color: #2C2C2C; /* Dark ash background */
  color: #FFFFFF; /* White text */
  border: 2px solid #00A8E8; /* Neon blue border */
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(0, 168, 232, 0.5);
}

button:hover {
    color: #2C2C2C; /* Dark text for contrast */
    background-color: #00A8E8; /* Neon blue fill */
    /* Dark text for contrast */
    box-shadow: 0 0 12px rgba(0, 168, 232, 0.8);
    transform: scale(1.05);
  }

  .heading{
    margin-top: 30px;
  }

  button[data-btn= 'home']{
    background-color: red;
  }

  .img1{
    height: 300px;
    margin-top: 20px;
  }

  .img2{
    height: 200px;
  }
  
